  <div class="main-products">
    <p class="header-products">Products</p>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Regular link</a>
      <a class="dropdown-item active" href="#">Active link</a>
      <a class="dropdown-item" href="#">Another link</a>
    </div>
    <div class="products">
      <div class="prod">
        <img class="img-prod" src="../../../assets/img/backpack.png" alt="">
        <p class="name-product">BACKPACK</p>
        <p class="price-product">$199</p>
      </div>
      <div class="prod">
        <img class="img-prod" src="../../../assets/img/backpack.png" alt="">
        <p class="name-product">BACKPACK</p>
        <p class="price-product">$199</p>
      </div>
      <div class="prod">
        <img class="img-prod" src="../../../assets/img/backpack.png" alt="">
        <p class="name-product">BACKPACK</p>
        <p class="price-product">$199</p>
      </div>
      <div class="prod">
        <img class="img-prod" src="../../../assets/img/backpack.png" alt="">
        <p class="name-product">BACKPACK</p>
        <p class="price-product">$199</p>
      </div>
    </div>
  </div>
