.slide {
  height: 70vh;
}

.d-block {
  height: 70vh;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-prod {
  width: 250px;
}

.prod {
  border: 1px solid grey;
  width: 250px;
  margin: 50px;
}

.main-products {
  padding: 75px;
}

.header-products {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin: 0 0 25px 75px;
}

.name-product {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 5px 10px;
}

.price-product {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: grey;
  margin: 0 0 5px 10px;
}

.img-prod:hover {
    background-color: rgba(0,0,0,0.8);
    transition: 1s;
}
