<form>
  <div class="form-group">
    <input type="" [(ngModel)]="categoryName" name="categoryName" class="form-control">
    <button *ngIf="!editStatus" type="button" class="btn btn-success" style="margin-top: 20px;"
      (click)="addCategory()">Add</button>
    <button *ngIf="editStatus" type="button" class="btn btn-success" style="margin-top: 20px;"
      (click)="saveEditCategory()">EditSave</button>
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of adminCategories; let i=index;">
      <th scope="row">{{i+1}}</th>
      <td>{{category.name}}</td>
      <td>
        <button type="button" class="btn btn-warning" (click)="editCategory(category)">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteCategory(category)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
