<div class="footer-container">
  <nav class="navigator">
    <ul class="footer-navigator">
      <li><a routerLinkActive="active" class="hoverEffect btnOther" routerLink="home">HOME</a></li>
      <li><a routerLinkActive="active" class="hoverEffect btnOther" routerLink="shop">SHOP</a></li>
      <li><a routerLinkActive="active" class="hoverEffect btnOther" routerLink="about">ABOUT US</a></li>
      <li><a routerLinkActive="active" class="hoverEffect btnOther" routerLink="contact">CONTACT</a></li>
    </ul>
    <ul class="social-navigator">
      <li><a href="#"> <i class="fab fa-youtube"></i></a></li>
      <li><a href="#"> <i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"> <i class="fab fa-youtube"></i></a></li>
    </ul>
  </nav>
  <p class="footer-text">© 1999-2019 «BLacKK SHOP». Всі права застережено. Сайт розроблено веб студією BLacKK Studio</p>
</div>
