<div class="contact-container">
  <div class="contant">
    <div id="map">
      <iframe class="maps"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.3435019800654!2d24.04083091559076!3d49.79840947939068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae87539db33a3%3A0x565ac1d81fe448e6!2z0LLRg9C70LjRhtGPINCn0YPQutCw0YDRltC90LAsIDE0LCDQm9GM0LLRltCyLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDc5MDAw!5e0!3m2!1suk!2sua!4v1572288948415!5m2!1suk!2sua"
        width="600" height="450" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="textContact">
      <p class="textContant head">We works in:</p>
      <p class="textContant"> Monday 8:00-18:00</p>
      <p class="textContant"> Tuesday 8:00-18:00</p>
      <p class="textContant"> Wednesday 8:00-18:00</p>
      <p class="textContant"> Thursday 8:00-18:00</p>
      <p class="textContant"> Friday 8:00-18:00</p>
      <p class="textContant head">Contact:</p>
      <p class="textContant">+380999999999</p>
      <p class="textContant">+380999999998</p>
    </div>
  </div>
</div>
