<div class="about-container">
  <div class="first containerAbout">
    <div class="textForFirst">
      <p class="textStyle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, animi beatae rem soluta ipsa
        dolorum tenetur impedit odio magni aspernatur.</p>
    </div>
  </div>
  <div class="second containerAbout">
    <div class="textForFirst">
      <p class="textStyle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, animi beatae rem soluta ipsa
        dolorum tenetur impedit odio magni aspernatur.</p>
    </div>
  </div>
  <div class="third containerAbout">
    <div class="textForFirst">
      <p class="textStyle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, animi beatae rem soluta ipsa
        dolorum tenetur impedit odio magni aspernatur.</p>
    </div>
  </div>
</div>
